<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
.contents {
	border: 1px solid red;
	margin: 20px;
}

.div1 {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
</style>
<body>
	<div class="div1">
		<div th:each="contents:${contentss}" class="contents">
			<a th:href="@{${contents.id}}+'.html'">
				<h1>
					<span>标题：</span><span th:text="${contents.title}"></span>
				</h1>
				<h1>
					<span>发布日期：</span><span th:text="${contents.insertDt}"></span>
				</h1>
			</a>
		</div>
	</div>
</body>
</html>