<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>login登陆</title>
<!--引入 element-ui 的样式，-->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 必须先引入vue，  后使用element-ui -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<!-- 引入element 的组件库-->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
 <input type="password" v-model="ruleForm.pass" autocomplete="off"></el-input>
	<button type="primary" @click="submitForm('ruleForm')">提交</button>
</body>
</html>